# Ignore the entire experiment_data folder
Colliding_Stimuli/experiment_data/

# Ignore specific files within the experiment_data folder
Colliding_Stimuli/experiment_data/*.txt


Colliding_Stimuli/__pycache__/
Colliding_Stimuli/backup/